extends layout

block content
	h1 iTunes Music library
	p Below is my iTunes music library as parsed from my iTunes XML document

	table(class="main")
		tr
			th Title:
			th Artist:

		for song in songList
			tr
				td= song.title
				td= song.artist

	br
	br
	br
	p debugging text... #{debugText}