extends layout

block content
	h1 iTunes Web
	p Colin's iTunes Library

	table(class="main")
		tr
			th Title:
			th Artist:

		for track in trackList
			tr
				td= track.name
				td= track.artist
				td= track.location

	br
	br
	p Copyright &#169; Colin Heinzmann